.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #158caf;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    position: center;
    ;

}


form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #158caf;
    border-radius: 3px;
    box-sizing: border-box;
}

form button {
    background-color: #1bb1dc;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 13px;
    cursor: pointer;

}

form button:hover {
    background-color: midnightblue;
}

/* ... your existing styles ... */

/* Style the image */
img {
    max-width: 30%;
    height: auto;
    margin-top: 20px;
    margin-left: 10px;
    ;
}

/* ... your existing styles ... */

/* Loading spinner animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the fade-in animation to the .dashboard section */
.center-container {
  animation: fadeIn 1s ease-in-out;
}
