{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=devicpyte-width, initial-scale=1.0" name="viewport">

    <title>KickBoxing Academy</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/kickboxer.png' %}" rel="icon">
    <link href="{% static 'img/kickboxer.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static '/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->

    <link href="{% static '/css/style.css' %}" rel="stylesheet">

        <!-- =======================================================
        * Template Name: Rapid
        * Updated: May 30 2023 with Bootstrap v5.3.0
        * Template URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
        * Author: BootstrapMade.com
        * License: https://bootstrapmade.com/license/
        ======================================================== -->
        </head>

        <body>



        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top d-flex align-items-center header-transparent">
            <div class="container d-flex align-items-center">

                <h1 class="logo me-auto"><a href="{% url 'home_page' %}">KICKBOXING ACADEMY</a></h1>
                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        <li><a class="nav-link scrollto" href="/#hero">Home</a></li>
                        <li><a class="nav-link scrollto" href="/#about">About</a></li>
                        <li><a class="nav-link scrollto" href="/#team">Team</a></li>
                        <li><a class="nav-link scrollto" href="{% url 'join_us' %}">Join Academy</a></li>
                        <li class="dropdown"><a href="#"><span>LOGIN</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="#">LOGIN</a></li>
                                <li><a href="#">REGISTER</a></li>
                            </ul>
                        </li>
                        <li><a class="nav-link scrollto" href="#footer">Contact</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->
                <div class="social-links">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                </div>

            </div>
        </header><!-- End Header -->
{% block content %}
        <!-- ======= Hero Section ======= -->
        <section id="hero" class="clearfix">
            <div class="container d-flex h-100">
                <div class="row justify-content-center align-self-center" data-aos="fade-up">
                    <div class="col-lg-6 intro-info order-lg-first order-last" data-aos="zoom-in" data-aos-delay="100">
                        <h2>Unleash your potential,<br>start your <span>Journey!</span></h2>
                        <div>
                            <a href="#about" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-6 intro-img order-lg-last order-first" data-aos="zoom-out" data-aos-delay="200">
                        <img src="{% static 'img/home (2).png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </section><!-- End Hero -->
        <main id="main">

            <!-- ======= About Section ======= -->
            <a href="#about"></a>
            <section id="about" class="about">

                <div class="container" data-aos="fade-up">
                    <div class="row">

                        <div class="col-lg-5 col-md-6">
                            <div class="about-img" data-aos="fade-right" data-aos-delay="100">
                                <img src="{% static 'img/Personal-Fitness-and-Boxing-Coach-Trainer-Nabil-DUBAI.png' %}"
                                     alt="">
                            </div>
                        </div>

                        <div class="col-lg-7 col-md-6">
                            <div class="about-content" data-aos="fade-left" data-aos-delay="100">
                                <h2>About Us</h2>
                                <h3>Unleash Your Potential with Buakaw Kickboxing Academy</h3>
                                <p>At Buakaw Academy, we are dedicated to providing top-notch kickboxing training
                                    that empowers individuals to reach their fitness goals and enhance their overall
                                    well-being.</p>
                                <p>With a team of experienced instructors and a state-of-the-art facility, we offer a
                                    comprehensive range of classes suitable for all skill levels. Whether you're a
                                    beginner
                                    seeking to improve your fitness or an advanced practitioner aiming to refine your
                                    technique,
                                    our classes are designed to challenge and inspire you.</p>
                                <p>Our mission is to create a supportive and inclusive environment where our members can
                                    thrive.
                                    We believe in the transformative power of kickboxing, not just as a physical workout
                                    but
                                    also as a means of building self-confidence, discipline, and mental resilience.</p>
                                <p>What sets us apart is our commitment to individualized attention and proper
                                    technique. Our
                                    instructors are highly trained and passionate about helping each student reach their
                                    full
                                    potential. They will guide you through every step, ensuring that you develop the
                                    correct
                                    form and maximize the effectiveness of your training.</p>
                                <ul>
                                    <li><i class="bi bi-check-circle"></i> Expert instructors with years of experience
                                    </li>
                                    <li><i class="bi bi-check-circle"></i> Tailored classes for all skill levels</li>
                                    <li><i class="bi bi-check-circle"></i> Supportive and inclusive training environment
                                    </li>
                                    <li><i class="bi bi-check-circle"></i> Focus on proper technique and individualized
                                        attention
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </section><!-- End About Section -->

            <!-- ======= Team Section ======= -->
            <section id="team" class="team section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="section-header">
                        <h3>Team</h3>
                        <p>Our best experts who will help you in your kickboxing journey</p>
                    </div>

                    <div class="row">

                        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="member">
                                <img src="{% static 'img/registration.png' %}" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Walter White</h4>
                                        <span>Three times world kickboxing champion</span>
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""><i class="bi bi-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                            <div class="member">
                                <img src={% static 'img/registration.png' %} class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Sarah Jhonson</h4>
                                        <span>European and world champion, many years experience in training</span>
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""><i class="bi bi-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                            <div class="member">
                                <img src="{% static '/img/registration.png' %}" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>William Anderson</h4>
                                        <span>Teaching over hundred of people every month, made over 10 world champions</span>
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""><i class="bi bi-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                            <div class="member">
                                <img src="{% static '/img/registration.png' %}" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Amanda Jepson</h4>
                                        <span>Over twenty years experience in boxing and kickboxing coaching</span>
                                        <div class="social">
                                            <a href=""><i class="bi bi-twitter"></i></a>
                                            <a href=""><i class="bi bi-facebook"></i></a>
                                            <a href=""><i class="bi bi-instagram"></i></a>
                                            <a href=""><i class="bi bi-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <ul></ul>
                    <ul></ul>
                    </div>

                </div>
            </section><!-- End Team Section -->



        </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static '/vendor/aos/aos.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static '/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static '/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
    </body>
</html>